<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Mail Test</title>
  </head>
  <body>
    <h1>Mail Test</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, omnis
      earum commodi assumenda odio vitae libero exercitationem molestiae a iusto
      explicabo laudantium officia. Consequuntur libero nihil totam eligendi,
      recusandae beatae?
    </p>
  </body>
</html>
